body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

header {
  background-color: rgb(0, 67, 121);
  color: #fff;
  padding: 20px 0;
  border-bottom: 3px  solid rgb(255, 240, 103); /* Blue color single-line border */
}


header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

header .branding {
  display: flex;
  align-items: center;
}

header .branding img {
  height: 50px;
  margin-right: 10px;
}

header nav {
  display: flex;
  flex-wrap: wrap;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  text-transform: uppercase;
  font-size: 14px;
}

#showcase {

  color: #fff;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

.ball {
  border-radius: 25px;
  width: 50px;
  height: 50px;

  background: url('src/assets/GAClogo.png') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s;
}

#showcase h1 {
  font-size: 48px;
  margin: 0;
}

#showcase p {
  font-size: 20px;
  margin: 20px 0;
}

#main {
  padding: 20px;
  /* background: #fff;*/
 
} 

.track-form {
  margin: 20px 0;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(255, 0, 0, 0.1);
  width: 550px;
  margin: 40px auto;
  height: 220px;
  margin-left: 300px;
  position: absolute;
  margin-top: 15px;
}

.tracking-info {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin-bottom: 20px;
}


/* 
.tracking-info {
  background: #eee;
  padding: 20px;
  margin: 20px 0;
  border-radius: 4px;
  width: 1500px;
  
} */

.tracking-info h3 {
  margin-top: 0;
}

.tracking-info p {
  margin: 5px 0;
}

.collapse-button {
  display: block;
  width: 150px;
  margin: 20px auto;
  padding: 10px;
  background-color: #001f54;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.body{

background-color: white;

}
.brand{


  /* background: url('src/assets/bg29.jpg') no-repeat center center; */
height: 125px;
margin-top: 85px;

}

footer {
  /* background: #00447b; */
  /* background: url('src/assets/bg26.png') no-repeat center center; */
  background-color: rgb(0, 67, 121);
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  border-top: 3px  solid rgb(255, 240, 103); /* Blue color single-line border */
 
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left,
.footer-right {
  flex: 1;
}

.footer-left {
  text-align: left;
}

.footer-left h3 {
  margin: 0;
}

.footer-left p {
  margin: 5px 0 0;
}

.footer-right {
  text-align: right;
}

footer1 {
  /* background: #00447b; */
  /* background: url('src/assets/bg26.png') no-repeat center center; */
  background-color: rgb(0, 67, 121);
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  border-top: 3px  solid rgb(255, 240, 103); /* Blue color single-line border */
 
}

footer1 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer1-left,
.footer1-right {
  flex: 1;
}

.footer1-left {
  text-align: left;
}

.footer1-left h3 {
  margin: 0;
}

.footer-left p {
  margin: 5px 0 0;
}

.footer-right {
  text-align: right;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ddd;
}


@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  header .container {
    flex-direction: column;
  }

  header nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  header nav.active {
    display: flex;
  }

  header nav a {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
    background: #001f54;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    text-align: left;
    width: 100%;
  }

  .track-form input[type="text"] {
    width: 90%;
    
  }

}


.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  header nav {
    display: none;
  }

  header nav.active {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}


.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ddd;
}


@keyframes bounce {
  0% {
    background: url('src/assets/tracking3.jpg') no-repeat center center/cover;

  }

  25% {
    background: url('src/assets/tracking7.jpg') no-repeat center center/cover;

  }

  50% {
    background: url('src/assets/tracking4.jpg') no-repeat center center/cover;
  }

  75% {
    background: url('src/assets/tracking5.jpg') no-repeat center center/cover;
  }

  100% {
    background: url('src/assets/tracking6.jpg') no-repeat center center/cover;
  }
}



#showcase {
  /* animation-duration: 30s;

  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-bottom-right-radius: 80px 80px; */

  background: url('src/assets/tracking7.jpg') no-repeat center center/cover;
}

body {
  font-family: 'Arial', sans-serif;
  background-color:rgba(255, 255, 255, 0.1);
  color: #333;
}

.timeline-category {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 800px;
  font-size: smaller;
  margin-left: 550px;
  position: relative;
}

.category-title {
  font-size: 1.5em;
  color: #000000;
  border-bottom: 2px solid #00447b;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.timeline-item {
  margin: 15px 0;
  padding: 15px;
  border-left: 4px solid #00447b;
  position: relative;
  background-color: #eeeded;
  border-radius: 5px;
  transition: transform 0.2s;
}


.timeline-item:hover {
  transform: scale(1.02);
  background-color: #c4e8f3;
}

.timeline-content {
  display: flex;
  align-items: flex-start;
  
}
.timeline{


position: absolute;

}




.event-details {
  flex-grow: 1;
  width: 800px;
}

.event-title {
  font-size: 1.2em;
  margin: 0;
  color: #2c3e50;
  
}

.event-description {
  color: #555;
  margin: 5px 0;
}

.event-date {
  font-size: 0.9em;
  color: #999;
}

.event-remarks {
  font-style: italic;
  color: #666;
}



.search-button {
  margin-left: 18px;
  font-size: 14px;
  height: 36px;
  padding: 0 16px;
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}




.search-button:hover {
  background-color: #37abf8;
  transform: translateY(-2px);
}


.search-button:active {
  transform: translateY(1px);
}

.tracking-input {
  width: 80%;
  margin-top: 20px;
  
  
}
mat-form-field {
  width: 100%;
  margin-left: -125px;
  
}
/* 
mat-form-field {
  width: 100%;
  
}

mat-label {
  font-size: 14px;
  color: #00447b;
}

.mat-input-element {
  font-size: 14px;
  color: #333;
  padding: 10px;
}

.mat-form-field:hover .mat-form-field-outline {
  border-color: #00447b;
}

.mat-form-field-underline {
  display: none;
}


.mat-form-field:focus-within .mat-form-field-outline {
  border-color: #00447b;
}


.mat-form-field .mat-input-placeholder {
  color: #aaa;
}


.mat-form-field .mat-input-placeholder.mat-focused {
  color: #00447b;
}
 */

.shipment-header {
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5em;
  color: #ffffff;
  text-align: center;
  margin: 20px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-top: -12px;
  font-size: 28px;
}



.major {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(255, 0, 0, 0.2);
  width: 550px;

  margin: 20px auto;

  margin-left: -380px;
  position: absolute;
}



.shipment-title {
  text-align: center; /* Center-align the title */
  font-size: 24px; /* Adjust font size */
  color: #004c80; /* Set a nice blue color */
  font-weight: bold; /* Make the title bold */
  padding: 10px 0; /* Add some padding above and below the title */
  border-bottom: 3px solid #004c80; /* Add a blue underline */
  text-transform: uppercase; /* Make the title uppercase */
  font-family: 'Arial', sans-serif; /* Use a modern sans-serif font */
}


.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;

}

/* .form-field {
  width: 100%;

} */



.toggle-section {
  text-align: center;
  margin-top: 20px;
}



button.mat-button {
  color: #00447b;
}



/* .mat-form-field:hover .mat-form-field-outline {
  border-color: #00447b;

}


.mat-form-field {
  font-size: 1.2em;

} */




.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.green-tick .circle {
  background-color: yellow;
}

.blink .circle {

  box-shadow: 0 0 20px yellow;

}


.circle {



  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #4caf50;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 30px;
  font-size: 1.2em;
}


.circle1 {



  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #00447b;
  border-radius: 50%;
  color: #00447b;
  text-align: center;
  line-height: 30px;
  font-size: 1.2em;
}



.icon {
  margin-right: 15px;
}


.custom-label {
  color: #4962eb;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

.shipment-box {
  background-color: rgb(0, 67, 121);

  /* background: linear-gradient(0deg, #e4eff8, #f3dc0e 5%, #e4eff8 150%); */

      /* background: linear-gradient(45deg, #007bff, #e2f01d); */
    /* background: linear-gradient(0deg, #f2f2f2, #eba819 60%, #ffffff 100%); */

    
  padding: 20px;
  border-radius: 8px;
  width: 96%;
  margin: 20px;
  height: 50px;
  text-align: center; 
  
}



.shipment-row {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Create two columns */
  gap: 10px; /* Space between each <p> element */
}

.shipment-row p {
  margin: 0;
  font-size: 1em;
}

.shipment-row p strong {
  font-weight: bold;
}


.event-details {
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.1);
}

.event-info {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 10px;
}

.event-description,
.event-date {
  margin: 0;
  font-size: 1em;
}

.event-remarks {
  margin-top: 10px;
  padding-left: 25px; 
}
.shipment-row p {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.shipment-row strong {
  flex: 1; 
}

.shipment-row .value {
  text-align: right; 
  padding-left: 10px;
}

